.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
    max-height: 100px;
    padding: 0 2rem;
}

.navbar .logo-anchor {
    width: 20%
}
.navbar .logo {
    max-width: 80%;
}

.navbar-links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.navbar li {
    margin: 0 1rem;
    cursor: pointer;
}

a:link {
    color: var(--color-gray);
    text-decoration: none;
}

a:active {
    color: var(--color-black);
}
a:visited {
    color: var(--color-gray)
}

a:hover {
    color: var(--color-black);
}

.navbar button {
    max-width: 7%;
    border-radius: 20px;
    border: none;
    min-width: 60%
}

.navbar img {
    max-width: 50px;
}

.right-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    gap: 0 1rem;
}

