@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.navbar-links {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.navbar li {
    margin: 0 1rem;
    cursor: pointer;
}

a:link {
    color: var(--color-gray);
    text-decoration: none;
}

a:active {
    color: var(--color-black);
}
a:visited {
    color: var(--color-gray)
}

a:hover {
    color: var(--color-black);
}



.logo {
    display: flex;
    align-items: center;
    font-size: 35px;
    font-weight: 1000;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
}

b {
    font-size: 70px;
    color: var(--color-golden);
}

.logo-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 200px;
    gap: 20px;
}