#host-history-section {
    width: 80%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.host-history-wrapper {
    justify-content: flex-start;
    width: 100%;
    margin-top: 4rem;
    margin-left: 10rem;
    padding: 2rem 2rem;
    overflow: hidden;
    z-index: 1;

    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    /* background-image: linear-gradient( 174.2deg,  rgba(241,238,223,0.2) 7.1%, rgba(224, 215, 186, 0.2), rgba(211,198,169,0.4) 67.4% ); */
}

.room-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 0 1rem;
    margin-top: 1rem;
    padding-top: 1rem;
    gap: 20px;
    /* max-width: 30%; */
    min-width: 25%;

    border-radius: 15px;
    border: 1.5px solid rgba(197, 199, 212, 0.5);
}

.room-card img {
    width: 50%;
}


.delete-prompt-background {
    width: 100vw;
    height: 100vh;
    background-color: rgba(103, 97, 93, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    z-index: 2;
    justify-content: center;
    align-items: center;
  }
  
.delete-prompt {
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}

.delete-prompt .title {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
}

.delete-prompt button {
    width: 75px;
}