.App {
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
}

.section-padding {
  padding: 2rem 2rem;
}

.component-padding {
  padding: 1rem 1rem;
}

.headtext__major {
  font-family: var(--font-system);
  color: var(--color-black);
}

.headtext__minor {
  font-family: var(--font-system);
  color: var(--color-gray);
  font-size: 12px;

}

.system-button {
  font-family: var(--font-system);
  font-weight: 700;
  border-radius: 8px;
  letter-spacing: 0.04em;
  line-height: 22px;
  font-size: 14px;
  cursor: pointer;
  
  background: #fff;
  border: 2.5px solid rgba(197, 199, 212, 0.5);
  color: var(--color-gray);
}

.system-button-primary {
  background: #C4B098;
  border-color: #C4B098;
  /* background: var(--color-golden); */
  /* border-color: var(--color-golden); */
  color: var(--color-white);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
