.App {
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
}

.section-padding {
  padding: 2rem 2rem;
}

.component-padding {
  padding: 1rem 1rem;
}

.headtext__major {
  font-family: var(--font-system);
  color: var(--color-black);
}

.headtext__minor {
  font-family: var(--font-system);
  color: var(--color-gray);
  font-size: 12px;

}

.system-button {
  font-family: var(--font-system);
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.04em;
  color: var(--color-gray);
  
  background: #fff;
  border-radius: 8px;
  border: 2.5px solid rgba(197, 199, 212, 0.5);
  
  cursor: pointer;

  max-height: 3vh;
}

.system-button-primary {
  background: #C4B098;
  border-color: #C4B098;
  color: var(--color-white);
}

.system-button:hover {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
