@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&family=Inter:wght@100;300;400&family=Poppins&family=Taviraj:wght@100&display=swap');

:root {
  --font-system: 'Inter', sans-serif;
  --font-major: 'Goudy Bookletter 1911', serif;
  --font-minor: 'Taviraj', serif;

  --color-golden: #ffd100;
  --color-brown: #b2967d;
  --color-gray: #b9b9b9;
  --color-black: #0C0C0C;
  --color-white: #fff;
}

/* body {
  margin: 0; */
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  /* font: var(--font-system);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* code { */
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
  /* font: var(--font-system);
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}