
    .comment-box{
      width: 50%;
      border: 1px sandybrown;
      margin: 50px 0;
      padding: 10px 20px;
      border-radius: 5px;
      margin-left: 25%;
      margin-top: 80px;
      box-shadow: 0px 0px 10px 1px rgb(165,165,165);
    }
    .comment-box{
      text-align: left;
      color: bisque;
    }
    .comment-form input, .comment-form textarea{
      width: 100%;
      padding: 10px;
      margin: 5px 0;
      box-sizing: border-box;
      outline: none;
      font-size: 18px;
      border: 1px solid #ddd;
      color: black;
    }
    .comment-form button{
      margin: 10px 0;
      border: none;
      background-color: aliceblue;
      padding: 10px;
      font-size: 18px;
      border-radius: 18px;
      color: #444;
    }button :hover{
      color: white;
      background-color: gray;
    }
    .hero{
      width: 100%;
      min-height: 100vh;
    }
    .container{
      width: 90%;
      display: block;
      margin: auto;
      padding-top: 100px;

    }
    .article{
      float: left;
      width: 55%;
      padding-right: 25px;
    }

